* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(31, 31, 31);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#canvas {
    border:solid;
    background-image: url('../img/hell0.jpg');
    background-repeat: no-repeat;
    background-size: 900px 500px;
    /* background-color: #d5d0d0; Ändere die Hintergrundfarbe hier */
}


.button-container {
    margin-top: 20px; /* Abstand zwischen Canvas und Buttons */
    display: flex;
    gap: 10px; /* Abstand zwischen den Buttons */
}

.btn, .btn1 {
    cursor: pointer;
    width: 200px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:disabled {
    background-color: #d3d3d3; /* Ausgegraut */
    color: #808080; /* Hellgrauer Text */
    cursor: not-allowed;
}

.audio {
    cursor: pointer;
    width: 200px; /* Breite des Audio-Buttons */
    height: 40px; /* Höhe des Audio-Buttons */
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes flash {
    0%, 100% { background-color: #cbb472; }
    50% { background-color: rgb(255, 102, 102); }
  }
  
  .potato-hit {
    animation: flash 0.3s ease-out;
  }


  